#Preencha todos os campos antes de executar o main.py
#Em embeds.py tem todas as mensagens que o bot envia

TOKEN_BOT:  #Token do seu bot https://discordapp.com/developers/applications

CHAT_LOG:  #ID do chat onde será enviado as mensagens de log

CHAT_RPG:  #ID do chat onde será lido e enviado as mensagens do RPG

CHAT_PNTS:  #ID do chat onde será lido e enviado as mensagens dos pontos

API_KEY:  #Request post do https://api.random.org

LIM_ADD:  #Limite de pontos que podem ser adionados em 1 comando

MSG_ADD:  #Mensagem que será enviada caso alguem tente adicionar mais que o limite

ID_RESET:  #ID do único usuário que pode resetar o jogo (user o comando ?reset)

LIM_MULT:  #Limite do multiplicador de dados

LIM_QNT:  #Limite da quantidade de dados

LIM_DADO:  #Limite do número de lados do dado

#CONNECT DB (Em bot.sql tem o arquivo para criar o db)
HOST: 
USER: 
PASSWORD: 
DB: 
PORT: 